.fictional-company-logo2 {
  position: relative;
  width: 142px;
  height: 32px;
}
.placeholder-icon91 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text68 {
  position: relative;
  line-height: 24px;
}
.button49 {
  justify-content: center;
  gap: var(--gap-5xs);
}
.button49,
.button50,
.content26,
.navigation1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button50 {
  overflow: hidden;
  justify-content: center;
  gap: var(--gap-5xs);
}
.content26,
.navigation1 {
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.content26 {
  gap: var(--gap-21xl);
}
.text72 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: none;
}
.button53 {
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
  gap: var(--gap-5xs);
}
.text73 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.button54,
.navigation-actions1 {
  flex-direction: row;
  align-items: center;
}
.button54 {
  border-radius: var(--br-5xs);
  background-color: var(--primary-500);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
  gap: var(--gap-5xs);
  font-size: var(--text-lg-semibold-size);
  color: var(--icterine-500);
  font-family: var(--text-xl-regular);
}
.navigation-actions1 {
  display: none;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.shopping-bag-03-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.nav-item-button1 {
  border-radius: var(--br-7xs);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.vn-icon2 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button55 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.navigation-actions-group {
  width: 459px;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-base);
  font-size: var(--text-md-regular-size);
  color: var(--gray-600);
}
.container6,
.header1,
.navigation-actions-group {
  display: flex;
  align-items: center;
}
.container6 {
  width: 1280px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
}
.header1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  flex-direction: column;
  justify-content: center;
}
.full-width-header-navigation2 {
  position: relative;
  background-color: var(--color-ivory-100);
  border-bottom: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 1366px;
  height: 80px;
  flex-shrink: 0;
}
.heading26,
.supporting-text53 {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.supporting-text53 {
  font-size: var(--text-sm-semibold-size);
  line-height: 20px;
  color: var(--gray-600);
}
.heading-and-supporting-text3 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
}
.content28,
.heading-and-supporting-text3,
.input-with-label6,
.input7 {
  display: flex;
  justify-content: flex-start;
}
.content28 {
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.input-with-label6,
.input7 {
  align-self: stretch;
}
.input7 {
  border-radius: var(--br-5xs);
  background-color: var(--full-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  color: var(--gray-500);
}
.input-with-label6 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.hint-text6 {
  position: relative;
  font-size: var(--text-sm-semibold-size);
  line-height: 20px;
  color: var(--gray-600);
  display: none;
  width: 320px;
}
.ten {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.checkbox-base1 {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--full-white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.input10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) 0 0;
}
.supporting-text54,
.text78 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.supporting-text54 {
  font-size: var(--text-sm-semibold-size);
  line-height: 20px;
  color: var(--gray-600);
  display: none;
}
.text-and-supporting-text3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.radio-check,
.radio-check-parent {
  display: flex;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.radio-check {
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
.radio-check-parent {
  width: 360px;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
}
.gioi-tinh {
  flex-direction: column;
  justify-content: flex-start;
}
.email-parent,
.email1,
.gioi-tinh {
  display: flex;
  align-items: flex-start;
}
.email1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.email-parent {
  width: 360px;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.text83 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.button56,
.button57 {
  border-radius: var(--br-5xl);
  box-shadow: var(--shadow-xs);
  box-sizing: border-box;
  width: 103px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  padding: var(--padding-5xs) var(--padding-sm);
  gap: var(--gap-5xs);
}
.button56 {
  background-color: var(--full-white);
  border: 1px solid var(--gray-300);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 8;
}
.button57 {
  background-color: var(--primary-500);
  border: 1px solid var(--primary-500);
  z-index: 7;
  color: var(--icterine-500);
}
.button-group-base,
.button-group-base1,
.button57,
.button58 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button58 {
  border-radius: var(--br-5xs);
  background-color: var(--primary-500);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-500);
  overflow: hidden;
  display: none;
  padding: var(--padding-5xs) var(--padding-sm);
  gap: var(--gap-5xs);
  z-index: 6;
  color: var(--icterine-500);
}
.button-group-base,
.button-group-base1 {
  background-color: var(--full-white);
}
.button-group-base {
  border-right: 1px solid var(--gray-300);
  display: none;
  padding: var(--padding-3xs) var(--padding-base);
  z-index: 5;
}
.button-group-base1 {
  z-index: 4;
}
.button-group-base1,
.button-group-base2,
.button-group-base3 {
  border-right: 1px solid var(--gray-300);
  display: none;
  padding: var(--padding-3xs) var(--padding-base);
}
.button-group-base2 {
  background-color: var(--full-white);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.button-group-base3 {
  z-index: 2;
}
.button-group-base3,
.button-group-base4,
.button59 {
  background-color: var(--full-white);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-group-base4 {
  border-right: 1px solid var(--gray-300);
  display: none;
  padding: var(--padding-3xs) var(--padding-base);
  z-index: 1;
}
.button59 {
  border-radius: var(--br-5xl);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 103px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  padding: var(--padding-5xs) var(--padding-sm);
  gap: var(--gap-13xl);
  z-index: 0;
}
.button-group,
.gioi-tinh1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-group {
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-base);
  font-size: var(--text-sm-semibold-size);
}
.gioi-tinh1 {
  width: 360px;
  flex-direction: column;
}
.label13 {
  position: relative;
  font-size: var(--text-md-regular-size);
  line-height: 24px;
  font-weight: 600;
}
.button61,
.button63 {
  border-radius: var(--br-5xl);
  box-sizing: border-box;
  width: 103px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-sm);
}
.button61 {
  background-color: var(--full-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: var(--gap-5xs);
  z-index: 7;
}
.button63 {
  background-color: var(--primary-500);
  border: 1px solid var(--primary-500);
  gap: var(--gap-13xl);
  z-index: 0;
  color: var(--icterine-500);
}
.button-group1,
.button63,
.button64,
.button67 {
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.button-group1 {
  border-radius: var(--br-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-base);
}
.button64,
.button67 {
  border-radius: var(--br-5xl);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-sm);
}
.button64 {
  background-color: var(--primary-500);
  border: 1px solid var(--primary-500);
  box-sizing: border-box;
  width: 103px;
  flex-shrink: 0;
  gap: var(--gap-5xs);
  z-index: 8;
  color: var(--icterine-500);
}
.button67 {
  background-color: var(--full-white);
  border: 1px solid var(--gray-300);
  gap: var(--gap-13xl);
  z-index: 0;
}
.gioi-tinh2 {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-sm-semibold-size);
}
.input15 {
  border-radius: var(--br-5xs);
  background-color: var(--full-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-sm);
  color: var(--gray-600);
}
.input15,
.radio-check3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.checkbox-base-icon {
  position: relative;
  border-radius: var(--br-5xs);
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.radio-check-group,
.user-info-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.radio-check-group {
  width: 360px;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.user-info-parent {
  align-self: stretch;
  gap: var(--gap-xl);
  font-size: var(--text-md-regular-size);
  color: var(--gray-7001);
}
.button68,
.content27,
.sign-up {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.button68 {
  border-radius: var(--br-5xl);
  background-color: var(--primary-500);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-500);
  width: 355px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--text-sm-semibold-size);
  color: var(--icterine-500);
}
.content27,
.sign-up {
  flex-direction: column;
  justify-content: flex-start;
}
.content27 {
  background-color: var(--full-white);
  width: 600px;
  padding: var(--padding-21xl);
  gap: var(--gap-13xl);
}
.sign-up {
  background-color: var(--gray-100);
  width: 1366px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-21xl) 0;
  font-size: var(--display-xs-bold-size);
  color: var(--gray-950);
}
.supporting-text63 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.logo-and-supporting-text1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.heading27 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.button71,
.footer-link40 {
  flex-direction: row;
  align-items: center;
}
.footer-link40 {
  display: flex;
  justify-content: flex-start;
}
.button71 {
  overflow: hidden;
  display: none;
  justify-content: center;
  gap: var(--gap-5xs);
}
.text123 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.badge1 {
  border-radius: var(--br-base);
  background-color: var(--success-50);
  border: 1px solid var(--success-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-5xs);
  mix-blend-mode: multiply;
  text-align: center;
  font-size: var(--text-xs-medium-size);
  color: var(--success-700);
}
.footer-link42 {
  gap: var(--gap-5xs);
}
.footer-link42,
.footer-link46 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--gray-600);
}
.footer-links-column5,
.footer-links5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-links5 {
  align-self: stretch;
  gap: var(--gap-xs);
  font-size: var(--text-md-regular-size);
  color: var(--primary-500);
}
.footer-links-column5 {
  gap: var(--gap-base);
}
.footer-link48,
.footer-link51 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.footer-link48 {
  display: flex;
  color: var(--primary-500);
}
.footer-link51 {
  display: none;
}
.footer-links6,
.footer-links7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--text-md-regular-size);
}
.footer-links6 {
  align-self: stretch;
  color: var(--gray-600);
}
.footer-links7 {
  color: var(--primary-500);
}
.twitter-icon1 {
  position: relative;
  width: 20px;
  height: 20px;
}
.bg1 {
  position: absolute;
  height: 87.5%;
  width: 87.5%;
  top: 6.5%;
  right: 6%;
  bottom: 6%;
  left: 6.5%;
  border-radius: var(--br-37xl);
  background-color: var(--color-steelblue);
}
.linked-in-icon1 {
  position: absolute;
  height: 44%;
  width: 47%;
  top: 25%;
  right: 25%;
  bottom: 31%;
  left: 28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footer-links-column9 {
  flex: 1;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--gray-500);
}
.links1 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-37xl);
  font-size: var(--text-sm-semibold-size);
  color: var(--primary-300);
}
.container7,
.content36,
.links1,
.section2 {
  display: flex;
  justify-content: flex-start;
}
.content36 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-45xl);
}
.container7,
.section2 {
  flex-direction: column;
}
.container7 {
  width: 1280px;
  align-items: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.section2 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-45xl) 0 var(--padding-29xl);
}
.footer-text1 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.social-icon9 {
  overflow: hidden;
  flex-shrink: 0;
}
.social-icon11,
.social-icon9 {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
}
.content37,
.social-icons1 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.social-icons1 {
  display: none;
  gap: var(--gap-5xl);
}
.content37 {
  align-self: stretch;
  display: flex;
  gap: var(--gap-13xl);
}
.container8 {
  display: flex;
  align-items: flex-start;
  padding: 0 var(--padding-13xl);
}
.container8,
.footer1,
.phone-verification-vi-ui-b,
.section3 {
  flex-direction: column;
  justify-content: flex-start;
}
.section3 {
  align-self: stretch;
  background-color: var(--icterine-25);
  display: flex;
  align-items: center;
  padding: var(--padding-29xl) 0;
  color: var(--gray-500);
}
.footer1,
.phone-verification-vi-ui-b {
  align-items: flex-start;
}
.footer1 {
  background-color: var(--icterine-25);
  width: 1366px;
  display: none;
  font-size: var(--text-md-regular-size);
}
.phone-verification-vi-ui-b {
  position: relative;
  width: 100%;
  overflow-y: auto;
  display: flex;
  text-align: left;
  font-size: var(--text-lg-semibold-size);
  color: var(--primary-500);
  font-family: var(--text-md-regular);
}
