//This css remove focus
*:focus {
    box-shadow: none !important;
    outline: none;
}

*[data-focus] {
    box-shadow: none !important;
    outline: none;
}
.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

// Use for sanitize-html
// Because Chakra UI set default some tag, so
// need to modify it a little bit
// Modify <a> tag
.sanitize-html-a {
    color: var(--main-color);
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    -webkit-text-decoration-color: var(--main-color);
}

html {
    font-size: 7px;
    overflow: hidden;
    @media screen and (min-width: 280px) {
        font-size: 7.5px;
    }
    @media screen and (min-width: 320px) {
        font-size: 8.5px;
    }
    @media screen and (min-width: 375px) {
        font-size: 10px;
    }
}
* {
    /* Only allow scroll gestures */
    touch-action: pan-x pan-y;
    -webkit-overflow-scrolling: touch;
    outline-color: transparent;
    outline-style: none;
    outline-width: 0;
}
img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
[data-rsbs-overlay],
[data-rsbs-root]::after {
    background-color: var(--main-bg-color) !important;
}
[data-rsbs-header]::before {
    content: none !important;
}
[data-rsbs-backdrop] {
    background-color: rgba(0, 0, 0, 0.8) !important;
}
.disable-scroll-modal {
    [data-rsbs-scroll] {
        overflow: hidden;
    }
}
.remove-calendar-icon {
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}

.hidden-date {
    input[type="date"]::-webkit-datetime-edit {
        color: transparent !important;
    }
    input[type="date"]:focus::-webkit-datetime-edit {
        color: transparent !important;
    }
}

.chakra-select {
    padding-inline-start: 0 !important;
}

.text {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}
.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    &.three-lines {
        -webkit-line-clamp: 3;
    }
}
.button {
    &:active {
        opacity: 0.7;
    }
    cursor: pointer;
}
.pill-chart {
    .highchart-column-series {
        .highcharts-point {
            filter: drop-shadow(-5px 1px 1px white);
        }
    }
}
.highcharts-point-select {
    filter: drop-shadow(0px 1px 5px #ff56004d);
}
.hide-scroll-bar {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
        height: 0;
    }
}

.chart-input {
    & .highcharts-point {
        stroke: var(--main-bg-color);
    }
    .highcharts-crosshair-label {
        .highcharts-label-box {
            height: 24px;
            transform: translate(-4px, -4px);
        }
        text {
            transform: translate(10px, 5px);
        }
    }
}
.hchart-asset-transition {
    .hchart-area-principal {
        .highcharts-graph {
            stroke: var(--c27-color) !important;
        }
    }
}
.hc-doughnut {
    .highcharts-title {
        display: none;
    }
}
input[type="password"]:not(:placeholder-shown) {
    font-family: var(--font-fontpw), sans-serif;
}
input[type="password"] {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.highlight {
    color: var(--profit-text-color);
    font-weight: bold;
    font-style: normal;
}

.disable-mouse-event {
    pointer-events: none;
}

.scroll-bar::-webkit-scrollbar {
    overflow: scroll;
    display: block;
    height: 4px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: var(--c30-color);
}
.full-width-collapse {
    width: 100%;
}

// override default css simplebar
.simplebar-horizontal .simplebar-scrollbar {
    height: 4px !important;
}

.simplebar-vertical .simplebar-scrollbar {
    min-width: 2px;
}
.simplebar-track.simplebar-vertical {
    width: 9px;
}

.delay-sheet {
    [data-rsbs-overlay] {
        z-index: 99;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        background: transparent !important;
    }
}

.disabled-scroll {
    pointer-events: none;
}

.disabled-scroll #bottom-sheet-container {
    pointer-events: all;
}

* {
    -webkit-touch-callout: none;
    user-select: none;
}
input:not([type="submit"]),
textarea {
    -webkit-touch-callout: auto;
    user-select: auto;
}
