// Init basic color TBD
:root {
    // Common

    // --primary-text-color: #e6ff55;
    --primary-text-color: #00473c;
    --primary-button-text-color: #e6ff55;
    --primary-color: #00473c;
    --sub-text-color: #8dc63f;
    --text-color: #00473c;
    --text-gray: #475467;
    // Box shadow group
    // Background color
    --main-bg-color: #fffff0;

    // Border color
}
